/*RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*GLOBAL*/

body {
    /* background-color: #f6f8f9; */
    background-color: grey;
    /*rimuovere grey a fine progetto*/
}

.pad-left-50 {
    padding-left: 50px;
}

/*HEADER*/

header {
    background-color: white;
    padding-left: 20px;
    margin-bottom: 40px;
}

/*MAIN*/

main {
    margin: 0px auto;
    max-width: 70%;
    background-color: white;
}

/*BUTTON SECTION*/

#button-section {
    border-bottom: 2px solid #f6f8f9;
    padding-top: 13px;
    padding-bottom: 9px;
}

.button {
    padding: 5px 8px;
    display: inline-block;
    border: none;
    border-radius: 5px;
}

#task-btn {
    background-color: #14aaf5;
}

#sect-btn {
    background-color: white;
    border: 1px solid grey;
}

/*TASK SECTION*/

h2 {
    display: inline-block;
}

ul {
    list-style-type: none;
    font-size: 15;
}

.icon {
    border: 1px solid;
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
}

.check {
    color: green;
}

.cross {
    color: red;
}